.icon-background2{
    background-color: #3a93d7;
    color: #3a93d7;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}


.white-icon{
    color: #fff;
 
}


.mensaje-principal{
    background: linear-gradient(90deg, rgba(16,64,101,1) 23%, rgba(58,147,215,1) 55%, rgba(179,206,226,1) 100%0); /* Adjust colors as needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}



