@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: "Roboto", sans-serif;
    font-style: normal;
}


.icon-background2{
    background-color: #3a93d7;
    color: #3a93d7;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}


.white-icon{
    color: #fff;
 
}


.mensaje-principal{
    background: linear-gradient(90deg, rgba(16,64,101,1) 23%, rgba(58,147,215,1) 55%, rgba(179,206,226,1) 100%0); /* Adjust colors as needed */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

button{
    width: 9rem;
    
}


.back-btn-b{
    background-color: #3a93d7;
}
.back-btn{

    color: #fff;
    text-decoration: none;
    font-style: none;
    font-weight: bold;

}